NODE_ENV=development
PORT=3000
API_PREFIX=api/v1
API_KEY=bitoshi-local-key
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=bitoshi_wallet
DATABASE_SSL=false

# OpenTelemetry
OTEL_SERVICE_NAME=crypto-wallet-bitoshi-api
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_HEADERS=
OTEL_LOG_LEVEL=info
